.contents{
    display: flex;
    height: 100vh;
    padding-top: 60px;
}

.left{
    width: 50%;
    padding: 20px;
}
.right{
    width: 50%;
    padding: 20px;
}

.todo-input-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.todo-input-wrap button{
    width: 100px;
    height: 50px;
    font-size: 18px;
    background-color: #7FB3D5;
    color: #fff;
    border: none;
}    

.todo-input{
    width: 85%;
    height: 50px;
    padding-left: 10px;
    border: 1px solid #ddd;
    margin-right: auto;
}
.todolist{
    border: 1px solid #7FB3D5;
    width: 100%;
    height: 80%;
}