@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    /* font-weight: 400; */
    font-style: normal;
}
:root{
    --size: 10px;
    --font: 'Pretendard-Regular';
}

body{
    font-family: var(--font) ;
}

button:hover{
    box-shadow: 1px 1px 1px #ddd;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px #aba9a9; */
}

.header{
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ddd;
    background-color: #fff;
}

/* ToDoList text */
.logo{
    padding-left: var(--size);
    font-weight: 600;
    font-size: 30px;
}

/* login & SignIn Button */
.btn-contents{
    display: flex;
    margin-left: auto;
    padding: 0 var(--size);
    align-items: center;
}

.btn-contents button, .btns{
    width: 80px;
    height: 35px;
    font-size: 15px;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: var(--size);
    margin: 5px;
}
.wrap{
    margin: 10px 20px;
}

.input-wrap{
    display: flex;
    flex-direction: column;
}
.input-container{
    display: flex;
    align-items: center;
}
.icon{
    width: 25px;
    height: 25px;
}
.text{
    text-align: left;
    padding-left: var(--size);
}
.login input{
    width: 100%;

}
.input-wrap input {
    height: 45px;
    margin: 5px;
    padding-left: var(--size);
    font-size: 18px;
    border: 1px solid #ddd;
}
.input-wrap input::placeholder {
    font-size: 15px;
    /* font-weight: thin; */
    font-style: italic;
    color: #ddd;
}

.btn-wrap{
    margin-top: 20px;
}

.backColor{
    background-color: #EAF2F8;
}

.err{
    color: red;
    padding-left: 10px;
    text-align: left;
    font-size: 12px;
}
.loginErr{
    padding-left: 33px;
}

.userEmail{
    font-size: 20px;
}
.hr-sect{
    color: #a0a0a0;
    font-size: 16px;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    margin: 20px 0;
}
.hr-sect::before, 
.hr-sect::after{
    content: "";
    flex-grow: 1;
    height: 1px;
    line-height: 0;
    margin: 0 16px;
    background-color: #a0a0a0;
}
.googleBtn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 90%;
    height: 45px;
    margin: 5px;
    padding-left: var(--size);
    font-size: 18px;
    border: 1px solid #1976D2;
}
.googleBtn:hover{
    box-shadow: 1px 1px 1px #1976D2;;
}
.social-logo{
    width: 20px;
    height: 20px;
    margin: 5px;
}